.Roboto {
	font-family: 'Roboto', sans-serif;
}

.Roboto100 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.Roboto300 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.Roboto400 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.Roboto700 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}